form {
  display: flex;
}

h1 {
  text-align: center;
}

input {
  color: green;
  padding: 0 10px;
  width: 100%;
}

button {
  color: green;
  padding: 0 10px;
  height: 2em;
}

input:hover, button:hover {
  color: red;
}
