.match {
  position: absolute;
  top: -120px;
  left: 100px;
  transform: scale(0.5);
}

.fire {
  position: relative;
  left: -185px;
  height: 400px;
  width: 400px;
  transform: scaleX(0.9) rotate(45deg);
  background: radial-gradient(ellipse at top left, #ff3c00, #ffa200);
  border-radius: 0 50% 50% 50%;
  box-shadow: 0 0 30px rgba(255, 0, 0, 0.75);
}

.top {
  position: absolute;
  top: 265px;
  left: -15px;
  width: 70px;
  height: 110px;
  background: white;
  border-radius: 50%;
  box-shadow: 0 -10px 25px 25px white;
  z-index: 1;
}

.top::after {
  content: '';
  position: absolute;
  left: -15px;
  width: 100px;
  height: 140px;
  background: linear-gradient(to top, #3d1e00 30%, transparent 95%);
  border-radius: 50%;
}

.stick {
  top: -40px;
  position: relative;
  height: 600px;
  width: 40px;
  border: 2px solid #975428;
  background: linear-gradient(to right, #7b3c10, #d29e85);
}
