* {
  font-family: 'Red Hat Display', sans-serif;
  color: white;
}

body {
  background: linear-gradient(-45deg, #7708ff, #7b0089);
  background-repeat: no-repeat;
  height: 100vh;
}

.navbar {
  overflow: hidden;
  position: fixed;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0.5vw);
  z-index: 100;
}

.navbar-items {
  display: inline-block;
  height: 100%;
  margin-left: 3%;
}

.navbar-items a {
  text-decoration: none;
  padding-right: 30px;
  font-weight: bold;
  font-size: 36px;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  transition: 0.2s;
}

.navbar-social {
  height: 100%;
  float: right;
  margin-right: 3%;
}

.navbar-social a img {
  width: 35px;
  padding-left: 30px;
  padding-top: 7px;
  filter: drop-shadow(0.2vw 0.2vw 0.2vw rgba(0, 0, 0, 0.5));
  transition: 0.2s;
}

.navbar-social a img:hover, .navbar-items a:hover {
  transition: 0.2s;
  opacity: 65%;
}

@media only screen and (max-width: 1024px) {
  /* For Phones*/
  .navbar {
    height: auto;
  }
  .navbar-items a {
    display: block;
  }
  .navbar-social {
    display: none;
  }
}

/* ======| MAIN |===== */

#main {
  display: grid;
  margin: 10vw 3% 0 3%;
  grid-template-columns: 1fr 1fr;
  gap: 3%;
}

.main-left {
  display: inline-block;
}

.main-left h3 {
  font-size: 3vw;
  font-weight: 500;
  margin-block-start: 1vw;
  margin-block-end: 1vw;
}

#greetings h1,
#greetings h2 {
  margin-block-start: 0;
  margin-block-end: 0;
}

#greetings h2 {
  font-size: 4vw;
  font-weight: 500;
}

#greetings h1 {
  font-size: 6vw;
}

.main-left input {
  display: none;
}

.main-left input:checked + label {
  font-size: 4vw;
  margin-left: 4vw;
  color: rgba(255, 255, 255, 0.9);
}

.main-left label::before {
  transition: 0.2s;
  content: ' ';
  position: absolute;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 30px solid white;
  margin-top: 1.7vw;
  opacity: 0;
  left: 0;
}

.main-left input:checked + label::before {
  transition: 0.2s;
  opacity: 1;
  left: 4vw;
}

.main-left label {
  font-size: 3vw;
  outline: none;
  border: none;
  background: none;
  color: rgba(255, 255, 255, 0.65);
  transition: 0.2s;
}

.main-left input:not(:checked) + label:hover {
  margin-left: 1vw;
  transition: 0.2s;
  font-size: 3.2vw;
  outline: none;
  border: none;
  background: none;
  color: rgba(255, 255, 255, 0.8);
}

.main-right {
  display: inline-block;
}

.short-info {
  padding-bottom: 0.6vw;
  border-bottom: 0.3vw white solid;
  margin-bottom: 2vw;
}

.short-info span {
  font-size: 1.9vw;
}

.btn-container {
  display: flex;
}

.btn-more_about {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5vw 1.5vw;
  background: #e5e5e5;
  border-radius: 0.3vw;
  opacity: 80%;
  transition: 0.2s;
}

.btn-more_about a {
  font-size: 1.5vw;
  background: -webkit-linear-gradient(left, #7708ff, #7b0089);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-more_about:hover {
  opacity: 100%;
  transform: scale(1.1);
  transition: 0.2s;
}

.look-work {
  margin-top: 7vw;
  text-align: center;
}

.look-work span{
  font-size: 2vw;
}

.btn-gallery {
  display: inline-block;
  margin-top: 3vw;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5vw 1.5vw;
  background: #e5e5e5;
  border-radius: 0.3vw;
  opacity: 80%;
  transition: 0.2s;
}

.btn-gallery a {
  font-size: 2.5vw;
  background: -webkit-linear-gradient(left, #7708ff, #7b0089);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-gallery:hover {
  opacity: 100%;
  transform: scale(1.1);
  transition: 0.2s;
}
