form {
  border: 2px solid black;
  padding: 20px;
  font-family: Verdana, Tahoma, sans-serif;
  font-weight: bold;
  background: linear-gradient(#deb887, wheat);
  border-radius: 10px;
  box-shadow: 10px 10px 20px black;
}

fieldset {
  margin: 10px 0;
  padding: 10px;
}

input, textarea {
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid black;
  border-radius: 3px;
}